.lg-social-media-cont{
	.lg-social-media{
		padding: 0;
	    margin: 0;
	    list-style: none;
	    display: flex;
	    align-items: center;

	    li{
	    	a{
			    display: flex;
			    text-align: center;
			    justify-content: center;
			    align-items: center;
			    background-color: theme-color('primary');

	    		i{
					color:#fff;
					font-size: 20px;
					padding: 5px 10px;
	    		}
	    	}
	    }
	}
}


.pricing-table-wrap{
	display: flex;
	flex-wrap: wrap;

	>div{
		width: 100%;
		border: 1px solid $gray-800;
		@include media-breakpoint-up(md){
			width: 50%;
		}

		.table-title{
			padding: 20px 0;
			font-size: 1.6rem;
			color: #fff;
			background-color: $gray-800;
		}
	}
	.pricing-table{
		background-color: #fff;
		tr{
			&:nth-child(even){
				background-color: #fff;
			}
			&:nth-child(odd){
				background-color: $gray-300;
			}
		}
		td{
			padding: 8px 15px;
		}

		th{
			background-color: $secondary;
			padding: 15px;
		}
	}
}

.scroll-to-top{
	position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px 20px;
    background-color: $secondary;
    color: #fff;
    cursor: pointer;
}