.gform_wrapper{
	.gfield_label{
		display: none !important;
	}

	input[type=text], textarea{
		@extend .form-control;
		font-size: 16px !important;
		padding: 7px 15px !important;
		width: 100% !important;
		border-radius: 0 !important;
	}

	.gform_footer{
		text-align: center;
		input[type=submit]{
			@extend .btn-secondary;
		}
	}
}