
.full > .slide{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100vh !important;

    &:nth-child(3){
    	height: 135vh !important;
    }

    &:nth-child(7){
    	height: 145vh !important;
    }

    .leaf-item{
    	display: none;
    }

	video{
		display: block;
		object-fit: cover;
	    width: 100%;
	    height: 100%;
	}

	.overlay-outer-wrap{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    padding: inherit;
	    display: flex;
	    align-items: center;
	    padding-top: 0px !important;

    	&.center{
			justify-content: center;
			.overlay{
				text-align: center;
			}
		}

		&.left{
			justify-content: flex-start;
			.overlay{
				text-align: left;
			}
		}

		&.right{
			justify-content: flex-end;
			.overlay{
				text-align: right;
			}
		}


		.overlay-wrap{
			position: relative;
			padding: 50px;
			display: flex;
			align-items: center;

			&.bg{
				.overlay{
					background-color: rgba(black, .4);
				}
			}

			.overlay{
				padding: 25px;

				p:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

#slide-numbers{
   	display: none !important;
}
