// ---- CTA
.btn{
	padding: 8px 30px;
	font-size: 20px;
	color: #fff;
	display: inline-block;
	border-radius: 6px;
}

.btn-primary{
	@extend .btn;
	background-color: theme-color('primary');
}

.btn-secondary{
	@extend .btn;
	background-color: theme-color('secondary')
}

.img-full{
	width:100%;
	display:block;
}

// Pattern
.bg-image{ 
	// @include myoutline(red);
	position: relative;
	background-repeat     : no-repeat;
	background-position   : center center;
	background-size       : cover; 
}