// Site Footer 
.site-footer{

	// Main Content Area
	#site-footer{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-direction: row;
		font-size: 15px;

		@include media-breakpoint-up(md){ flex: 0 1 span(4);}

		.footer-title{
			font-size: 18px;
			font-weight: 500;
			@extend .mb-1;	
		}

		.location-title{
			font-size: 18px;
			font-weight: 500;
			@extend .mb-0;
		}

		.site-footer-alpha, 
		.site-footer-bravo,
		.site-footer-charlie {
			 padding: $spacer;
			 box-sizing: border-box;
		}

		.site-footer-alpha{ 
			display: none;
			@include media-breakpoint-up(md){ flex: 0 1 span(4); display: block; }
			@include media-breakpoint-up(xl){ flex: 0 1 span(2); }
		}

		.site-footer-bravo{ 
			flex: 0 1 span(12); 
			order: 3;
			@include media-breakpoint-up(md){ flex: 0 1 span(12); }
			@include media-breakpoint-up(xl){ flex: 0 1 span(5); order: 2 }
		}

		.site-footer-charlie{ 
			flex: 0 1 span(12); 
			order: 2;
			@include media-breakpoint-up(md){ flex: 0 1 span(8); }
			@include media-breakpoint-up(xl){ flex: 0 1 span(5); order: 3 }
		}

	}


	// The tiny site legal footer area.
	#site-legal{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background-color: $site-legal-bg-color;
		color: $site-legal-text-color;
		@include font-size($fs-map: $site-legal-font-size, $fs-breakpoints: $grid-breakpoints);
		border-top: 1px solid #fff;

		a{ color: $site-legal-link-color; }

		.site-info{
			width: susy-span(12);
			text-align: center;
			margin-bottom: 10px;

			@include media-breakpoint-up(sm){
				width: susy-span(6);
				text-align: left;
				margin: 0;
			}
		}

		.site-longevity{
			width: susy-span(12);
			text-align: center;


			@include media-breakpoint-up(sm){
				width: susy-span(6);
				text-align: right;
			}
		}
	}

}